<div class="jumbotron">
    <h1>The Secret Esther & Elio Chat</h1>

    <form action="sent" method="post" enctype="application/x-www-form-urlencoded">
    	Your Name:<br>
	 	<input type="text" name="name" value=""><br><br>
	 	Message:<br>
	 	<input type="text" name="message"><br><br>
	 	<input type="submit" value="Submit">
    </form>
</div>